<!-- <div class="body">
  <div class="row">
    <div class="col-md-6 mt-3" *ngFor="let news of nsList">
        <ul class="list-group mb-3">
            <li class="list-group-item active">{{ news.title }}</li>
            <li class="list-group-item">{{ news.content}}</li>
          </ul>
    </div>
  </div>
</div> -->


<div class="container pt-3">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">News</li>
        </ol>
      </nav>
    <div class="row">
        <div class="col-md-6 mt-4" *ngFor="let news of nsList">
            <div class="card h-100">


                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">{{ news.title}}</p>
                    </div>

                <div class="card-footer">
                    <small class="text-muted">{{ news.publishedAt }}</small>
                    <small class="float-right">...{{ news.author}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
