<div class="body pt-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
      </nav>
    <div class="jumbotron">
        <h1 class="display-5 font-italic">Welcome,</h1>
        <p class="lead">  <b>Virtual Prime</b>  is an online database of information related to films, television programs, home videos, video games, and streaming content online – including cast, production crew and personal biographies, plot summaries, trivia, fan and critical reviews, and ratings. </p>
        <hr class="my-4">
        <p>The Movie and Tv  pages of <b>Virtual Prime</b> are accessible to all internet users, but a registration process is necessary to contribute information to the site. </p>
        <a class="btn btn-primary btn-lg" routerLink="/form" role="button">Register Now!!!</a>
      </div>
</div>


